[submodule "fedora-coreos-config"]
	path = fedora-coreos-config
	url = https://github.com/coreos/fedora-coreos-config
	branch = rhel-10.1
[submodule "fedora-bootc"]
	path = fedora-bootc
	url = https://gitlab.com/fedora/bootc/base-images.git
	branch = main
